[Desktop Entry]
Name=Scribble
Comment=A cross-platform digital whiteboard engineered with C# and Avalonia UI
Icon=scribble
Exec=scribble
StartupWMClass=scribble
Terminal=false
Type=Application
Categories=Graphics
GenericName=Whiteboard Application
Keywords=draw; graphics; paint